@font-face {
    font-family: "Karik";
    src: url('../../static/fonts/Karrik-Regular.otf');
    font-style: normal;
}
@font-face {
    font-family: "Karik";
    src: url('../../static/fonts/Karrik-Italic.otf');
    font-style: italic;
}