@import'./variables.scss';

#footer {
    padding-top: 20px;
    color: $secondary-color-lighter;
    width:60%;
    margin: 0 auto;
    p {
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        font-style: italic;
        text-align: right;
    }
}

#class-title{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
}

@media (max-width: 768px) {
    #footer {
        visibility: hidden;
    }

    #class-title {
        visibility: hidden;
    }
}